
<div class="col-md-12">

<div class="col-md-4">
<p>
  <%= image_tag @profile.image.url(:square) || "https://res.cloudinary.com/narration/image/upload/w_400,h_400/v1473800053/user_ldtxx0.png", class: "img-circle", secure: true %>
</p>

<br/>


<% if current_user && current_user.admin?  || current_user == @profile.user %>
<%= link_to "@#{@profile.twitter}", "http://twitter.com/#{@profile.twitter}", target: "_blank" %>
<% end %>


<br/>

<br/>


<% if current_user && current_user.admin?  || current_user == @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile), clasS: "btn btn-default" %>
<% end %>


</div>

<div class="col-md-8">
<h1>
  <%= @profile.display_name %>
</h1>
<% unless @profile.bio.blank? %>
<p class="well">
  <%= @profile.bio %>
</p>
<% end %>


  <br/>

<% @profile.user.posts.each do |post| %>
        <%= render 'shared/posts', post: post %>
      <% end %>


</div>


