<% unless post.disabled %>

<div class="panel panel-body panel-default">

        <%= link_to image_tag(post.image.url(:thumbnail || "http://res.cloudinary.com/narration/image/upload/v1475925408/mixsample-black_xzwtms.png"), class: "pull-left", style:"margin-right:15px;"),  user_post_path(id: post.slug, username: post.user.profile.slug) %>
        
        <h3>
          <%= link_to truncate(post.title, length: 100), user_post_path(id: post.slug, username: post.user.profile.slug) %><br/>
         

          <small>
            by   <%= link_to truncate(post.user.profile.display_name || post.user.name, length: 100), vanity_profile_path(post.user.profile.slug) %>
          </small>
        </h3>
      

     <ul class="tags">
     <h5>
      <li>  <label class="label label-success"><i class="glyphicon glyphicon-play" aria-hidden="true"></i> 
        <%= pluralize(post.plays, 'plays') %>
      
      </label>
      </li>

        <% post.tags.limit(3).each do |tag| %>
            <li>
              
                <label class="label label-default white" >
                  <i class="glyphicon glyphicon-tag" aria-hidden="true"></i>
                  <%= link_to tag, tag_path(tag: tag.name.parameterize), class: "white" %>
                </label>&nbsp;
              
            </li>
        <% end %>
        </h5>
      </ul>
      <%= cl_image_tag("http://res.cloudinary.com/narration/video/upload/h_65,w_650,fl_waveform,co_black,b_white/v#{post.audio.file.version}/#{post.audio.file.public_id}.png", width: "70%", style: "margin-left: 0px;", :secure => true, class: "wave") %>
</div>

<% end %>