<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :description %>
    <%= f.input :samples %>
    <%= f.input :image %>
    <%= f.input :audio %>
    <%= f.label :tags %>
    <%= f.text_field :tag_list, :onfocus=> @post.tags.map(&:name).join(","), :value=> @post.tags.map(&:name).join(","), :class=>"form-control", placeholder: @post.tags.map(&:name).join(",") || "e.g. beats, hip hop, instrumental" %>
    <br/>
    <% if current_user && current_user.admin? %>
    <%= f.input :hidden %>
    <%= f.input :disabled %>
    <%= f.input :featured %>
    <%= f.input :hide_samples %>
    <%= f.input :downloadable %>
    <% end %>

    <% if current_user && current_user.vip? %>
    <%= f.input :hide_samples %>
    <%#= f.input :downloadable %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
