<style type="text/css">
  .jp-pause:before {
    content: : '<i class="fa fa-pause" style="top: 15px; position: absolute; left: 18px;"></i>';
    }

    .jp-flat-audio .jp-play:before {
    content: : '' !important;
    }


   .jp-seek-bar-display, .jp-seek-bar {
        background-image: url('https://res.cloudinary.com/narration/video/upload/h_65,w_650,fl_waveform,co_black,b_white/v<%= @post.audio.file.version  %>/<%= @post.audio.file.public_id   %>.png') !important;
        background-color: white !important;
        background-repeat:no-repeat;
      background-position:center;
      width: 50%;
    }

  

    .playing {
      background-color: lightgrey;
    }


    .hover {
      background-color: #eee;
    }

    .img-thumbnail-embed {
      margin-right: 10px;
    }
 
    .jp-bar {
      margin-left:3px;
      min-width: 200px;
    }

    .logo {
      font-weight: bold;
    }

    .logo:hover{
      text-decoration: none;
    }

    .h4 {
    	max-width: 200px;
    }

</style>
<div class="row" style="margin:10px; min-height:190px;">

  <div class="pull-left" style="margin-right:10px;">
    <%= link_to image_tag(@post.image.url(:embed, secure: true) , class: ""), "http://mixsample.com#{user_post_path(id: @post.slug, username:@post.user.profile.slug)}", target: "_blank"   %>
      <br/>

          <a type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#myModal" >
              <i class="glyphicon glyphicon-menu-left"></i>/<i class="glyphicon glyphicon-menu-right"></i> Embed
          </a>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#shareModal"><i class="glyphicon glyphicon-share-alt"></i> Share
          </button>
  </div>
  

    <h3 class="">
      <%= link_to truncate(@post.title, length: 20), "http://mixsample.com#{user_post_path(id: @post.slug, username: @post.user.profile.slug)}", target: "_blank" %>
      <br/>
      <small>by <%= link_to @post.user.profile.display_name || @post.user.name, "http://mixsample.com#{vanity_profile_path(@post.user.profile.slug)}", target: "_blank"  %>
      </small>
    </h3>


<div class="" style="margin-left: 160px;">
    <div id="jquery_jplayer_audio_1" class="jp-jplayer "></div>

        <div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player">
          <div class="jp-play-control jp-control">
            <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0">
              <i class="glyphicon glyphicon-play" style="color: white; font-size: 40px; top: 7px; left: 2px;"></i>
            </button>
            <button class="jp-pause jp-button" role="button" aria-label="pause" tabindex="0">
              
            <i class="glyphicon glyphicon-pause" style="color: white; font-size: 40px; top: 7px; left: 1px;"></i></button>
          </div>
          <div class="jp-bar">
            <div class="jp-seek-bar jp-seek-bar-display"></div>
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
              <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>

              <div class="jp-timing">
                  <span class="jp-current-time " role="timer" aria-label="time" style="font-size: 16px; float:left; line-height:64px;">&nbsp;</span>
                  <span class="jp-duration" role="timer" aria-label="duration"></span>

              </div>


            </div>
          </div>
          <div class="jp-no-solution">
            Media Player Error<br />
            Update your browser or Flash plugin
          </div>
        </div>
        </div>
        <br/>

    <ul class="tags" style="margin-top:15px;">
     <h5>
      <li>  <label class="label label-success"><i class="glyphicon glyphicon-play" aria-hidden="true"></i> 
        <%= pluralize(@post.plays, 'plays') %>
      
      </label>
      </li>

        <% @post.tags.limit(2).each do |tag| %>
            <li>
              
                <label class="label label-default white" >
                  <i class="glyphicon glyphicon-tag" aria-hidden="true"></i>
                  <%= link_to tag, tag_path(tag: tag.name.parameterize), class: "white" %>
                </label>&nbsp;
              
            </li>
        <% end %>
        </h5>
      </ul>


      <div class="footer" style="margin-top:15px;">

       <!-- <a type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#myModal" >
            <i class="glyphicon glyphicon-menu-left"></i>/<i class="glyphicon glyphicon-menu-right"></i> Embed
        </a>   -->

        <h5>
          <%= link_to 'MixSample', "http://mixsample.com", target: '_blank', class: "black pull-right logo", style: "margin-top:7px;" %>
                <%= link_to image_tag(asset_path('mixsample-black.png'), style: "height:30px;"), "http://mixsample.com", target: '_blank', class: "black pull-right logo" %>
        </h5>

       
      </div><!-- footer -->





<script type="text/javascript">


$(document).ready(function() {




$(".skip").on("click", function(event) {

  event.preventDefault();

  $("#jquery_jplayer_audio_1").jPlayer('play');

  console.log($(this).attr("data-start")); 
  

  // $("#jquery_jplayer_audio_1").jPlayer("setMedia", {
  //       title: "<%= @post.title %>",
  //       m4a: $(this).attr("audio-data")
  //     });

  $("#jquery_jplayer_audio_1").jPlayer('playHead', $(this).attr("data-start") );
  $("#jquery_jplayer_audio_1").jPlayer('play');


});



$("#jquery_jplayer_audio_1").jPlayer({
    ready: function(event) {
      $(this).jPlayer("setMedia", {
        title: "<%= @post.title %>",
        m4a: "<%= @post.audio.url(secure: true) %>"

      });

      if (<%= @autoplay %> == 1) {

          
          $("#jquery_jplayer_audio_1").jPlayer('play');

          //do something special
          $.post("/posts/<%= @post.id %>/play");
      }

     
      
    },
    play: function() { // Avoid multiple jPlayers playing together.
      $(this).jPlayer("pauseOthers");
 
    },
    timeFormat: {
      padMin: false
    },
    swfPath: "js",
    supplied: "m4a,oga",
    cssSelectorAncestor: "#jp_container_audio_1",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    remainingDuration: true,
    keyEnabled: true,
    keyBindings: {
      // Disable some of the default key controls
      loop: null,
      muted: null,
      volumeUp: null,
      volumeDown: null
    },
    wmode: "window",
    ended: function() { // Avoid multiple jPlayers playing together.
      
    console.log('play');

       //do something special
      $.post("/posts/<%= @post.id %>/play");
    }
  });
  
  $(".track").hover(function() {
    $(this).children('a.buy').toggle();
    $(this).toggleClass("hover");

  });

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});



});




</script>