<h1 class="text-center">
  Featured
</h1>
<hr/>


<% if current_user == nil || @posts.count <= 3 %>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 <!--  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <% @posts[1..@posts.length].each_with_index do |post, index| %>
    <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class=""></li>
    <% end %>
  </ol> 

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="<%=  @posts.first.image.url(:banner) || 'http://res.cloudinary.com/narration/image/upload/h_300/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png' %>" alt="...">
      <div class="carousel-caption white">
        <h3 class="white"><%= link_to @posts.first.title, user_post_path(username: @posts.first.user.name, id: @posts.first.slug), class: "white" %>
        <br/>
          <small>
          by 
          <%= link_to @posts.first.user.profile.display_name || @posts.first.user.name, vanity_profile_path(id: @posts.first.user.profile.slug), class: "white" %>
          </small>
        </h3>
      </div>
    </div>
    <% @posts[1..@posts.count].each_with_index do |post, index| %>
    <div class="item">
      <img src="<%=  post.image.url(:banner) || 'http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png' %>" alt="...">
      <div class="carousel-caption">
         <h3 class="white"><%= link_to post.title, user_post_path(username: post.user.name, id: post.slug), class: "white" %>
         <br/>
          <small>by 
          <%= link_to post.user.profile.display_name || post.user.name, vanity_profile_path(id: post.user.profile.slug), class: "white" %>
          </small>

         </h3>

      </div>
    </div>
    <% end %>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  </div>


<div class="text-center" style="padding-top: 40px;">
  <p><a href="<%= new_user_registration_url %>" class="btn btn-success btn-lg btn-block white">Signup here</a></p>
</div>


<% else %>




<div class="col-md-12" >
    <% @posts.order('plays DESC')[0..5].each do |post| %>
      <div class="col-md-4">
          <%= link_to image_tag(post.image.url(:square)  || post.user.profile.image.url(:square) || "http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png", class: "img-thumbnail img-responsive", style: "margin-right: 10px;"), user_post_path(id: post.slug, username: post.user.name) %>
          <h4>
            <%= link_to truncate(post.title, :length => 28), user_post_path(id: post.slug, username: post.user.name) %>
            <br/>
          <small>
            by <%= link_to post.user.profile.display_name, vanity_profile_path(:id => post.user.profile.slug) %>
          </small>
          </h4>
          <h6>
          <!-- <label class='label label-primary'><i class="glyphicon glyphicon-play" ></i> <%= pluralize(post.plays, 'play') %>
        </label>&nbsp; -->
          <%  post.tag_list[0..2].each do |tag| %>
        <label class="label label-default">
        <i class="glyphicon glyphicon-tag" ></i>&nbsp;
        <%= link_to "##{tag}", tag_path(tag: tag), :class=>"white"%></label>&nbsp;
      <% end %>
      </h6>
      </div>
      <% end %>
</div>


<% end %>