

<h1 class="text-center">
<%= cl_image_tag("http://res.cloudinary.com/narration/image/upload/v1475925408/mixsample-black_xzwtms.png", width: "70px", :secure => true, style: "display: inline;" ) %>



MixSample <sup><small>&beta;eta</small></sup>
<br/>

<small>Sample Music Made Simple
</small>
</h1>


<div class="col-md-12 ">
  <div class="col-md-8">
    <br/>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="<%= popular_path %>"><i class="glyphicon glyphicon-arrow-up"></i> Popular</a></li>
      <li role="presentation"><a href="<%= latest_path %>"><i class="glyphicon glyphicon-time"></i> Latest</a></li>
      <li class="pull-right"><button class=" btn btn-success" id="play-all"><i class="glyphicon glyphicon-play"></i> Play All</button></li>
    </ul>
    <br/>
        
        <% @posts.each do |post| %>
          <%= render 'shared/posts', post: post %>
        <% end %>

      <%= paginate @posts %>

  </div>

  <div class="col-md-4">
    <br/>

    <%= render 'shared/sidebar' %>
    
  </div>
</div>



