

<h1 class="text-center">
<%= cl_image_tag("http://res.cloudinary.com/narration/image/upload/v1475925408/mixsample-black_xzwtms.png", width: "70px", :secure => true, style: "display: inline;" ) %>



MixSample <sup><small>&beta;eta</small></sup>
<br/>

<small>Sample Music Made Simple
</small>
</h1>


<div class="col-md-12 row">
<div class="col-md-8">

<div>
<br/>
<ul class="nav nav-pills">
  <li role="presentation" ><a href="<%= popular_path %>"><i class="glyphicon glyphicon-upload"></i> Popular</a></li>
  <li role="presentation" class="active"><a href="<%= latest_path %>"><i class="glyphicon glyphicon-time"></i> Latest</a></li>
</ul>
  <br/>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="previews">
      <% @posts.each do |post| %>
        <%= render 'shared/posts', post: post %>
      <% end %>
    </div>

    <%= paginate @posts %>
  </div>

</div>


</div>
<div class="col-md-4">


<br/>

<%= render 'shared/sidebar' %>
  
</div>

</div>

