<%= render 'meta', post: @post %>

<style type="text/css">
  .jp-pause:before {
    /*content: : '<i class="fa fa-pause" style="top: 15px; position: absolute; left: 18px;"></i>';
    */}

    .jp-flat-audio .jp-play:before {
    content: : '' !important;
    }

 

   .jp-seek-bar-display, .jp-seek-bar {
        background-image: url('http://res.cloudinary.com/narration/video/upload/h_65,w_650,fl_waveform,co_black,b_white/v<%= @post.audio.file.version  %>/<%= @post.audio.file.public_id   %>.png') ;
        background-color: white ;
        background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
    }


    .playing {
      background-color: lightgrey;
    }


    .hover {
      background-color: #eee;
    }

    .facebook-no-count {
    width:49px !important;
    overflow:hidden !important;
    }
 
</style>

<div class="col-md-12">


  <div class="col-md-4 text-center">
    <br/>
    <p class="text-center">
      <%= cl_image_tag @post.image.url(:square) || "http://res.cloudinary.com/narration/image/upload/v1475925408/mixsample-black_xzwtms.png" , class: "img-thumbnail", :secure => true %>
    </p>
    
    <div class="buttons btn-group " style="margin-left: 7px;">
        <% if current_user && current_user.admin? || current_user == @post.user %>
          <%= link_to raw('<i class="glyphicon glyphicon-wrench" ></i> Edit'), edit_post_path(@post.id), class: "btn  btn-default black btn-sm" %> 
        <% end %>

        <a type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#myModal" >
            <i class="glyphicon glyphicon-menu-left"></i>/<i class="glyphicon glyphicon-menu-right"></i> Embed
        </a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#shareModal"><i class="glyphicon glyphicon-share-alt"></i>
          Share 
        </button>

        <% if @post.downloadable %>
          <%= link_to raw("<i class='fa fa-download' aria-hidden='true'></i> Download"), @post.audio.url, download: "data", class: 'btn btn-sm btn-default', id:"download" %>
        <% end %>

        <% if current_user && current_user.admin? %>
          <%#= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Destroy"), @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger white" %>
        <% end %>



    </div>

    <br/>
    <br/>

      <% if user_signed_in? %>
          <% if  UserFav.where(:user_id => current_user.id, :post_id => @post.id).exists? %>
                  <%= link_to raw("<i class='glyphicon glyphicon-heart-empty'></i> Un-favorite"), delete_user_favs_path(:user_fav => {:post_id => @post.id, :user_id => current_user.id}), :remote => true, class: "btn fav  btn-default btn-block", :method => :delete %>
              <% else %>
                <%= link_to raw("<i class='glyphicon glyphicon-heart'></i> Favorite"), user_favs_path(:user_fav => {:post_id => @post.id,:user_id => current_user.id}), :remote => true, class: "btn fav btn-default btn-block", :method => :post %>
          <% end %>
      <% end %>

        <br/>

  <% unless @post.favourited_by.blank? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-heart"></i>  Favorited By </h3>
      </div>
      <div class="panel-body">
        
          <% @post.favourited_by.limit(5).each do |user| %>
            <div data-toggle="tooltip" data-placement="top" title="<%= user.profile.display_name %>" >
            <%= link_to image_tag(user.profile.image.url(:thumb) || "https://res.cloudinary.com/narration/image/upload/w_400,h_400/v1473800053/user_ldtxx0.png", class: "img-circle", width: "50px"), vanity_profile_path(id: user.profile.slug)  %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>


  
  

  <div class="col-md-8">

    <h1>
      <%= @post.title %>
      <br/>
      <small>by <%= link_to @post.user.profile.display_name || @post.user.name, vanity_profile_path(@post.user.profile.slug) %>
      </small>
      
    </h1>

    <div id="jquery_jplayer_audio_1" class="jp-jplayer"></div>

        <div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player">
          <div class="jp-play-control jp-control">
            <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0">
              <i class="glyphicon glyphicon-play" style="color: white; font-size: 40px; top: 8px; left: 3px;"></i>
            </button>
            <button class="jp-pause jp-button" role="button" aria-label="pause" tabindex="0">
              
            <i class="glyphicon glyphicon-pause" style="color: white; font-size: 40px; top: 8px; left: 2px;"></i></button>
          </div>
          <div class="jp-bar">
            <div class="jp-seek-bar jp-seek-bar-display"></div>
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
              <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>

              <div class="jp-timing">
                  <span class="jp-current-time " role="timer" aria-label="time" style="font-size: 16px; float:left; line-height:64px;">&nbsp;</span>
                  <span class="jp-duration" role="timer" aria-label="duration"></span>

              </div>


            </div>
          </div>
          <div class="jp-no-solution">
            Media Player Error<br />
            Update your browser or Flash plugin
          </div>
        </div>

    <div>
    <ul class="tags">
    <h5>
        <li>
          <h5>
            <label class="label label-success">
        
              <i class="glyphicon glyphicon-play"></i> <%= pluralize(@post.plays.to_i, "Play") %>
              
            </label>
          </h5>
        </li>
        <% unless @post.favourites.blank? %>
          <li>
            <label class="label label-primary white" >
              <i class="fa fa-heart" ></i> <%= pluralize(@post.favourites.count, "Favorite") %>
            </label>
          </li>
        <% end %>

        <% if current_user %>
          <% if current_user.admin? %>
            <li>
              <label class="label label-info white" >
                <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> <%= pluralize(@post.views, "View") %>
              </label>
            </li>
            <li>
              <label class="label label-info white" >
                <i class="glyphicon glyphicon-menu-left"></i>/<i class="glyphicon glyphicon-menu-right"></i> <%= pluralize(@post.embed_views, "Embed View") %>
              </label>
            </li>
          <% end %>
          <li>
            <label class="label label-warning white" >
              <i class="fa fa-download" aria-hidden="true"></i> <%= pluralize(@post.downloads, "Download") %>
            </label>
          </li>
        <% end %>

        <% @post.tags.limit(5).each do |tag| %>
            <li>
              
                <label class="label label-default white" >
                  <i class="glyphicon glyphicon-tag" aria-hidden="true"></i>
                  <%= link_to tag, tag_path(tag: tag.name.parameterize), class: "white" %>
                </label>&nbsp;
              
            </li>
        <% end %>

    
  
      
      </h5>
    </ul>

    <br/>
    <div class="well">
        <h5>        
          <%= auto_link(@post.description.gsub(/\n/, '<br/>').html_safe, :html => { :target => '_blank' }) %>
        </h4>
        <h6 class="">
           <%#= @post.created_at.strftime("Posted on %d %B %Y") %> 
        </h6> 
    </div>

      <div class="buttons2 btn-group text-center" style="margin-left: 5px;">
          <% if current_user && current_user.admin? || current_user == @post.user %>
            <%= link_to raw('<i class="glyphicon glyphicon-wrench" ></i>'), edit_post_path(@post.id), class: "btn  btn-default black btn-sm" %> 
          <% end %>

          <a type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#myModal" >
              <i class="glyphicon glyphicon-menu-left"></i>/<i class="glyphicon glyphicon-menu-right"></i>
          </a>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#shareModal"><i class="glyphicon glyphicon-share-alt"></i> 
          </button>

          <% if @post.downloadable %>
            <%= link_to raw("<i class='fa fa-download' aria-hidden='true'></i>"), @post.audio.url, download: "data", class: 'btn btn-sm btn-default' %>
          <% end %>

          <br/>
          <br/>

      </div>
    <br/>
    <% unless @post.hide_samples %>
    <div class="panel panel-default">

     <div class="panel-heading">
    <h3 class="panel-title">
<%= cl_image_tag("http://res.cloudinary.com/narration/image/upload/v1475925408/mixsample-black_xzwtms.png", width: "25px", :secure => true, style: "display: inline;" ) %> Samples</h3>
  </div>

    <div class="list-group">
      <% @post.samples.each_line do |line| %>

       <% @number = @number + 1 %>

        <div class="list-group-item track" id="track<%= @number + 1 %>">
   
    
            <% line.split(/[–,-]/).each_with_index do |value, index| %>


               <% if index === 1 %>
                   by <%= link_to truncate(value, length: 80), artist_path(artist: value.parameterize), :target => "_blank", :class => "" %>
               <% elsif index === 0 %>
                    <%= link_to truncate(value, length: 80), track_path(track: value.parameterize), :target => "_blank", :class => "" %>
               <% end %>

              <% end %>
                  <a href="<%= buy_url(track: line) %>" class="btn buy btn-xs btn-default pull-right" target="_blank" style="display:none;"> <i class="fa fa-apple" aria-hidden="true"></i> Buy on iTunes</a>
       
           </div>
    
      <% end %>
    </div>
    </div>


    <% end %>



  </div>



    
  </div>


</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Embed: <%= @post.title %></h4>
      </div>
      <div class="modal-body">
        <iframe src="<%= embed_url(:id => @post) %>" frameborder="0" width="560" height="200"></iframe>
        <br>
        <h5 class="hidden">Copy the code snippet below to embed this playlist in your blog or website:</h5>


        <textarea cols="65"  id='fe_text' rows="3" style="margin:15px;"><iframe src="http://mixsample.com<%= embed_path(:id => @post.id) %>?utm_source=embed&utm_medium=iframe&utm_campaign=embed%20code" frameborder="0" width="560" height="200"></iframe><br/></textarea>
        <br/>
        

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>
 </div> <div class="modal-footer"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 

   <button class='my_clip_button btn btn-primary' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy To Clipboard</b>
  </button>
      </div>
    </div>
  </div>
  
</div>



<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Share: <%= @post.title %> by <%= @post.user.profile.display_name || @post.user.name %></h4>
      </div>
      <div class="modal-body">
         <ul class="nav social" style="padding-left:40px;">
          <li style="postion:absolute; top:-4px;" class="facebook-no-count">

          <%= like_button("1440239169528450", send: true, count: 'none') %></li>
          <li><%= tweet_button(count: 'inline', :url => post_url( :id => @post.id), via: "mixsampleapp", text: "Listen to: #{truncate(@post.title, lenght: 80)} by #{truncate(@post.user.name, lenght: 40)}") %>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>

<!-- modal end -->


<script type="text/javascript">


$(document).ready(function() {

$(".fav").on("click", function(){
  document.location.reload(true);
});

$(".skip").on("click", function(event) {

  event.preventDefault();

  $("#jquery_jplayer_audio_1").jPlayer('play');

  console.log($(this).attr("data-start")); 
  

  // $("#jquery_jplayer_audio_1").jPlayer("setMedia", {
  //       title: "<%= @post.title %>",
  //       m4a: $(this).attr("audio-data")
  //     });

  $("#jquery_jplayer_audio_1").jPlayer('playHead', $(this).attr("data-start") );
  $("#jquery_jplayer_audio_1").jPlayer('play');


});

$("#download").on("click", function() {

  $.post("/posts/<%= @post.id %>/download");

});

$("#jquery_jplayer_audio_1").jPlayer({
    ready: function(event) {
      $(this).jPlayer("setMedia", {
        title: "<%= @post.title %>",
        m4a: "<%= @post.audio %>"
        
      });

     
      
    },
    play: function() { // Avoid multiple jPlayers playing together.
      $(this).jPlayer("pauseOthers");

    },
    timeFormat: {
      padMin: false
    },
    swfPath: "js",
    supplied: "m4a,oga",
    cssSelectorAncestor: "#jp_container_audio_1",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    remainingDuration: true,
    keyEnabled: true,
    keyBindings: {
      // Disable some of the default key controls
      loop: null,
      muted: null,
      volumeUp: null,
      volumeDown: null
    },
    wmode: "window",
    ended: function() { // Avoid multiple jPlayers playing together.
      
      console.log('play');

       //do something special
      $.post("/posts/<%= @post.id %>/play");

      
    }
  });
  
  $(".track").hover(function() {
    $(this).children('a.buy').toggle();
    $(this).toggleClass("hover");

  });

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

});


</script>