<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MixSample" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sample" %>">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <%= content_for?(:head) ? yield(:head) : "" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <br/><br/>
    <main role="main" class="container">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    </main>
    <div class="container text-center">
             <footer class="well">
         
            <ul class="footer-nav">
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Twitter', 'http://twitter.com/mixsampleapp', target: '_blank' %></li>
              <li><%= link_to 'Contact', 'mailto:mixsampleapp@gmail.com', target: '_blank' %></li>
              <li><%= link_to 'Terms', terms_url, target: '_blank' %></li>
              <li><%= link_to 'Privacy', privacy_url, target: '_blank' %></li>
            </ul>

            <p class="text-muted"><%= Time.now.year %> &copy; mixsample.com</p>
            <p><%#= Time.zone %></p>

        </footer>


    </div>
  </body>
</html>
